.account-well.prepend-top-default.append-bottom-default
  %ul
    %li
      The repository must be accessible over <code>http://</code>, <code>https://</code> or <code>git://</code>.
    %li
      If your HTTP repository is not publicly accessible, add authentication information to the URL: <code>https://username:password@gitlab.company.com/group/project.git</code>.
    %li
      The update action will time out after 10 minutes. For big repositories, use a clone/push combination.
